.card-home {
    border-color:#0463a2;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
  }

.card-fecha {
    margin-bottom: 10px;
    font-size: 14px;
    border-color:#ffb618;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.button-card {
  margin-top: 4px;
  // width: 80%;
  // height: 20%;
}

.container-card {
  padding:0px;
}