.page {
  background: #dadada;
  padding: 20px;
  margin: 10px;
}
.title{
  font-size: 32px !important;
}
.subtitle{
  font-size: 26px !important;
}
.plaintext{
  font-size: 16px !important;
}
.card-career-1 {
  font-size: 14px;
  border-color:#0463a2;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.card-career-2 {
  font-size: 14px;
  border-color:#ffb618;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}
.careerTable {
  font-size: 14px;
  border-color: #007d4e;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}