.nav-bar {
  display: flex;
  background-color: #0463a2;
  margin-bottom: 20px;
  margin-left: 80px ;
  border-radius: 10px;
  width: 80%;
  height: 20%;

}

.size-nav-bar {
  font-size: 20px;
}

.button-inicio {
  padding-right: 30px;
  padding-left: 30px;
  // width: 80%;
  // height: 20%;
}

.button-secundarios {
  margin-top: 4px;
  // width: 80%;
  // height: 20%;
}

